# Environment variables
.env

# Python virtual environment
venv/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# IDE files
.idea/
.vscode/
*.swp

# OS specific files
.DS_Store
Thumbs.db
